@page "/about"
<PageTitle>About Slants</PageTitle>
<h1>About Slants</h1>
<figure class="mt-5">
    <blockquote class="blockquote">
        <ol>
            <li>a mental leaning, bias, or distortion</li>
            <li>viewpoint; opinion; attitude</li>
        </ol>      
    </blockquote>
    <figcaption class="blockquote-footer">
        <cite title="Source Title">Dictionary.com</cite>
    </figcaption>
</figure>