@page "/"

<PageTitle>Slants</PageTitle>

<div class="px-4 pt-5 my-2 text-center border-bottom">
    <img class="d-block mx-auto mb-4" src="logo.svg" width="75" height="75" />
    <h1 class="display-4 fw-bold text-body-emphasis">Slants</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Place to find all the latest opinions (Slants) and contribute your own.</p>
    </div>
</div>